<h1>Cursos</h1>
<%= link_to 'Novo Curso', new_curso_path, class: 'btn btn-primary' %>

<ul class="list-group">
  <% @cursos.each do |curso| %>
    <li>
      <%= link_to curso.nome, curso_path(curso) %>
      <%= link_to 'Editar', edit_curso_path(curso) %>
      <%= link_to 'Excluir', curso_path(curso), method: :delete, data: { confirm: 'Tem certeza?' } %>
    </li>
  <% end %>
</ul>